# Common project settings
export ASSETS_DIRECTORY="assets"    # directory for asserts created and used by the project

# Airflow settings
export AIRFLOW_HOST="0.0.0.0"
export AIRFLOW_PORT="14001"
export AIRFLOW_ADMIN_USERNAME="admin"
export AIRFLOW_ADMIN_PASSWORD="password"
export AIRFLOW_JWT_SECRET="b0bd667155afab408b178223b334042587207657b9cf9991e9cd28440323ea9a"
export AIRFLOW_LOGGING_NUMBER_OF_DAG_RUNS_KEPT="5"
export AIRFLOW_LOGGING_NUMBER_OF_DAG_PROCESSOR_DAYS_KEPT="7"

# Dashboard backend settings
export BACKEND_HOST="0.0.0.0"
export BACKEND_PORT="14002"     # should match VITE_BACKEND_URL
export BACKEND_DEFAULT_USER_NAME="admin"
export BACKEND_DEFAULT_USER_PASSWORD="admin"
export BACKEND_SESSION_TTL_SECONDS="604800"         # 7 days
export BACKEND_EXPIRED_SESSIONS_CLEANUP_INTERVAL="3600"   # seconds; how often expired sessions are cleaned up
export BACKEND_CORS_ORIGINS="http://localhost:5173, http://127.0.0.1:5173" # comma-separated list of allowed origins

# Frontend settings (prefix with VITE_ to expose to client code.
# These are extracted into dashboard_frontend/.env by `npm run build-vite-dotenv-file`.)
export VITE_BACKEND_URL="http://localhost:14002"    # should match BACKEND_PORT
