# Common project settings
ASSETS_DIRECTORY=assets    # directory for asserts created and used by the project

# Airflow settings
AIRFLOW_HOST=0.0.0.0
AIRFLOW_PORT=14001
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=password
AIRFLOW_JWT_SECRET=b0bd667155afab408b178223b334042587207657b9cf9991e9cd28440323ea9a
AIRFLOW_LOGGING_NUMBER_OF_DAG_RUNS_KEPT=5
AIRFLOW_LOGGING_NUMBER_OF_DAG_PROCESSOR_DAYS_KEPT=7

# Dashboard backend settings
BACKEND_HOST=0.0.0.0
BACKEND_PORT=14002     # should match VITE_BACKEND_URL
BACKEND_DEFAULT_USER_NAME=admin
BACKEND_DEFAULT_USER_PASSWORD=admin
BACKEND_SESSION_TTL_SECONDS=604800         # 7 days
BACKEND_EXPIRED_SESSIONS_CLEANUP_INTERVAL=3600   # seconds; how often expired sessions are cleaned up
BACKEND_CORS_ORIGINS=http://localhost:5173, http://127.0.0.1:5173, http://localhost:14003 # comma-separated list of allowed origins
BACKEND_AIRFLOW_URL=http://localhost:14001  # Airflow API url, should match other Airflow variables

# Frontend settings (prefix with VITE_ to expose to client code;
# copied to dashboard_frontend/.env by `npm run build-vite-dotenv-file`)
VITE_BACKEND_URL=http://localhost:14002    # should match BACKEND_PORT
VITE_AIRFLOW_URL=http://localhost:14001    # Airflow web UI reachable from the browser, should match other Airflow variables
FRONTEND_PORT=14003 # webserver port in production deployment
