# Common backend settings
export DATA_DIRECTORY="data"
export LOGS_DIRECTORY="logs"

# Data loading settings
export DATA_LOADING_LOG_MODE="stderr"       # "stderr" or "file"

# Prefect settings
export PREFECT_PROFILE="data_loading_dev"   # a separate profile with custom settings for the current configuration
export PREFECT_SERVER_API_HOST="0.0.0.0"  # Prefect server host & port
export PREFECT_SERVER_API_PORT="14001"
export PREFECT_API_URL="http://127.0.0.1:14001/api"     # Prefect URL for clients (must match server host & port
                                                        # (if client accesses it locally, then 0.0.0.0 must be replaced with 127.0.0.1))
